html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,
h2,
h3,
h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold)
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

image {
    max-width: 100%;
    height: auto;
}

.section {
    padding: 2rem 0 4rem;
}

.section__title {
    font-size: var(--h1-font-size);
}

.section__subtitle {
    display: block;
    font-size: var(--small)
}

/* For resume download */
.pdf-download {
    text-align: center;
    margin: 30px 0;
}

.pdf-download a {
    display: inline-block;
    background-color: #f44336;
    /* Red Color */
    color: #fff;
    /* White Text */
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s;
}

.pdf-download a:hover {
    background-color: #d32f2f;
    /* Darker Red on Hover */
}

.pdf-download i {
    margin-right: 10px;
}

/* animation for download resume */
@keyframes hoverEffect {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.pdf-download a:hover {
    animation: hoverEffect 0.6s forwards;
}

/* Contact Me Version 2 Style */
.postcard {
    width: 300px;
    height: 400px;
    margin: 50px auto;
    perspective: 1000px;
}

.front,
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: transform 0.7s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    padding: 20px;
}

.front {
    background: linear-gradient(to right, #F2994A, #F2C94C);
    font-family: 'Roboto', sans-serif;
}

.back {
    background: linear-gradient(to bottom right, #84fab0, #8fd3f4);
    transform: rotateY(180deg);
}


.postcard:hover .front {
    transform: rotateY(-180deg);
}

.postcard:hover .back {
    transform: rotateY(0deg);
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input,
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}

button {
    padding: 10px 15px;
    background-color: #F2994A;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #F2C94C;
}

/* Contact Me Version 3 */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
}

::selection {
    color: #fff;
    background: #1cc7d0;
}

.wrapper {
    height: 400px;
    width: 320px;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.wrapper .card {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 5px;
    background: #fff;
    border-radius: 10px;
    transform: translateY(0deg);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.wrapper:hover>.front-face {
    transform: rotateY(-180deg);
}

.wrapper .card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.wrapper .back-face {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    transform: rotateY(180deg);
}

.wrapper:hover>.back-face {
    transform: rotateY(0deg);
}

.wrapper .back-face img {
    height: 150px;
    width: 150px;
    padding: 5px;
    border-radius: 50%;
    background: linear-gradient(375deg, #1cc7d0, #2ede98);
}

.wrapper .back-face .info {
    text-align: center;
}

.back-face .info .title {
    font-size: 30px;
    font-weight: 500;
}

.back-face ul {
    display: flex;
}

.back-face ul a {
    display: block;
    height: 40px;
    width: 40px;
    color: #fff;
    text-align: center;
    margin: 0 5px;
    line-height: 38px;
    border: 2px solid transparent;
    border-radius: 50%;
    background: linear-gradient(375deg, #1cc7d0, #2ede98);
    transition: all 0.5s ease;
}

.back-face ul a:hover {
    color: #1cc7d0;
    border-color: #1cc7d0;
    background: linear-gradient(375deg, transparent, transparent);
}

/* For Image Slider */

/* Importing Google font - Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    max-width: 1250px;
    margin: 150px auto;
    padding: 20px;
    gap: 20px;
}

.card-list .card-item {
    background: #fff;
    padding: 26px;
    border-radius: 8px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
    list-style: none;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid transparent;
    transition: border 0.5s ease;
}

.card-list .card-item:hover {
    border: 2px solid #000;
}

.card-list .card-item img {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 8px;
    object-fit: cover;
}

.card-list span {
    display: inline-block;
    background: #F7DFF5;
    margin-top: 32px;
    padding: 8px 15px;
    font-size: 0.75rem;
    border-radius: 50px;
    font-weight: 600;
}

.card-list .developer {
    background-color: #F7DFF5;
    color: #B22485;
}

.card-list .designer {
    background-color: #d1e8ff;
    color: #2968a8;
}

.card-list .editor {
    background-color: #d6f8d6;
    color: #205c20;
}

.card-item h3 {
    color: #000;
    font-size: 1.438rem;
    margin-top: 28px;
    font-weight: 600;
}

.card-item .arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-35deg);
    height: 40px;
    width: 40px;
    color: #000;
    border: 1px solid #000;
    border-radius: 50%;
    margin-top: 40px;
    transition: 0.2s ease;
}

.card-list .card-item:hover .arrow {
    background: #000;
    color: #fff;
}

@media (max-width: 1200px) {
    .card-list .card-item {
        padding: 15px;
    }
}

@media screen and (max-width: 980px) {
    .card-list {
        margin: 0 auto;
    }
}